/* 11. pagination */
.pagination {
	display: block;
    border-radius: unset;
    text-align: center;
    & li{
        display: inline-block;
        margin-right: 6px;
        @media #{$xs}{
            margin-bottom: 10px;
        }
        &.active{
            & a{
                background: $theme-color;
                color: $white;
            }
        }
        & a{
            border: none;
            height: 50px;
            width: 50px;
            display: block;
            line-height: 50px;
            background: $pagination-color;
            border-radius: 50%;
            color: $body-text-color;
            font-size: 14px;
            &:hover{
                color: $white;
                background: $theme-color;
            }
        }
    }
}