// Font Family
$bold: 'neutrif_probold';
$regular: 'neutrif_proregular';
$semiBold: 'neutrif_prosemi_bold';
$medium: 'neutrif_promedium';
$light: 'neutrif_prolight';
$rubik: 'Rubik', sans-serif;

// Colors ---------------
$white: #ffffff;
$black: #000;
$grey:#f5f6ff;
$theme-color: #ff8941;
$light-theme-color: #fff9f6;
$list-color: #fff4ed;
$body-text-color: #62618d;
$header-top-color: #a0a0b9;
$hr-border-color:#efefff;
$header-menu: #d3d2ff;
$slider-text: #d9d8ff;
$footer-menu: #8a8aac;
$header-btn-bg: #4541d6;
$number-color: #eaecff;
$btn-bg: #7673ff;
$nav-tabs: #9999c0;
$pricing: #ff6a01;
$pricing-btn: #6b6b91;
$blog-meta: #8786a7;
$f-blog-meta: #9b9bbb;
$blog-border: #e7e7e7;
$input-bg: #101024;
$input-color: #7878a6;
$f-border: #262649;
$f-icon: #fff5ef;
$breadcrumb-color: #a9a7ff;
$pagination-color: #f7f4ff;
$widget-border: #e3e3e3;
$widget-form: #f6f4ff;
$widget-placeholder: #8f8bb8;
$social-border: #e4e4e4;
$cat-color: #7886a0;
$tag-border: #eaeaea;
$blockquote-bg: #f4f4ff;
$d-tag-border: #e5e5e5;
$d-social: #b5becc;
$rp-border: #f4f3fb;
$avatar: #f3f1ff;
$avatar-social: #9498b6;
$bookmark: #cacfef;
$comment-placeholder: #a7a7c1;
$comment-bg: #f8f6ff;


// Heading Color
$heading-color: #0a0a19;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

